.u-section-1 .u-sheet-1 {
  min-height: 703px;
}

.u-section-1 .u-image-1 {
  width: 1120px;
  height: 631px;
  --radius: 10px;
  margin: 36px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 775px;
  --radius: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-2 .u-image-1 {
  width: 225px;
  height: 300px;
  margin: 74px auto 0;
}

.u-section-2 .u-text-1 {
  letter-spacing: 0px;
  font-family: Montserrat, sans-serif;
  margin: 45px 9px 0 5px;
}

.u-section-2 .u-line-1 {
  width: 420px;
  height: 1px;
  margin: 9px auto 0 50px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 15px 0 0 7px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 875px;
  --radius: 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-bottom: 0;
  margin-top: 40px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 15px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 9px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 13px auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 15px 352px 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  margin: 15px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: 9px 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 15px 173px 0 0;
}

.u-section-2 .u-group-elements-1 {
  width: 409px;
  min-height: 347px;
  margin: 13px auto 0 3px;
}

.u-section-2 .u-line-2 {
  width: 259px;
  transform-origin: right center;
  height: 1px;
  margin: 167px 21px 0 auto;
}

.u-section-2 .u-group-elements-2 {
  min-height: 347px;
  margin-top: -168px;
  margin-bottom: 0;
}

.u-section-2 .u-line-3 {
  width: 259px;
  transform-origin: right center;
  height: 1px;
  margin: 50px 19px 0 auto;
}

.u-section-2 .u-line-4 {
  width: 259px;
  transform-origin: right center;
  height: 1px;
  margin: 56px 19px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 115px;
  height: 115px;
  margin: -108px 49px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 115px;
  height: 115px;
  margin: -60px 0 0 auto;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  width: 100px;
  margin: -135px auto 0 1px;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  width: 81px;
  margin: 29px auto 0 1px;
}

.u-section-2 .u-line-5 {
  width: 259px;
  transform-origin: right center;
  height: 1px;
  margin: 163px 19px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 115px;
  height: 115px;
  margin: -54px 6px 0 auto;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  width: 82px;
  margin: -191px auto 0 1px;
}

.u-section-2 .u-text-14 {
  font-weight: 400;
  width: 59px;
  margin: 28px auto 0 1px;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  margin: 29px auto 0 0;
}

.u-section-2 .u-image-5 {
  width: 115px;
  height: 115px;
  margin: -184px 115px 0 auto;
}

.u-section-2 .u-line-6 {
  width: 259px;
  transform-origin: right center;
  height: 1px;
  margin: -123px 21px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 115px;
  height: 115px;
  margin: -57px 65px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 639px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 883px;
  }

  .u-section-2 .u-text-7 {
    width: 123px;
    margin-right: 252px;
  }

  .u-section-2 .u-text-10 {
    width: 231px;
    margin-right: 73px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-line-1 {
    width: 315px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 912px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 142px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-1 {
    width: 300px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 672px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -175px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 774px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-3 .u-text-1 {
  font-family: "Major Mono Display";
  font-size: 3.75rem;
  font-weight: 400;
  margin: 88px auto 0;
}

.u-section-3 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 80px auto 0 40px;
}

.u-section-3 .u-image-2 {
  width: 300px;
  height: 300px;
  margin: -300px auto 0;
}

.u-section-3 .u-image-3 {
  width: 334px;
  height: 294px;
  margin: -297px 40px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 410px;
  height: 300px;
  margin: 43px auto 0 109px;
}

.u-section-3 .u-image-5 {
  width: 342px;
  height: 300px;
  margin: -300px 155px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-3 {
    inset: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-bottom: 60px;
    font-size: 3.333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 249px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 298px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-text-1 {
  font-family: "Major Mono Display";
  font-size: 3.75rem;
  font-weight: 400;
  width: 223px;
  margin: 20px auto 0;
}

.u-section-4 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 32px auto 0 57px;
}

.u-section-4 .u-image-2 {
  width: 300px;
  height: 300px;
  margin: -300px auto 0;
}

.u-section-4 .u-image-3 {
  width: 301px;
  height: 300px;
  margin: -300px 45px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 300px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-4 .u-image-5 {
  width: 301px;
  height: 300px;
  margin: -300px 45px 0 auto;
}

.u-section-4 .u-image-6 {
  width: 298px;
  height: 300px;
  margin: -300px auto 60px 57px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3.333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    margin-left: 40px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 39px;
  }

  .u-section-4 .u-image-5 {
    margin-right: 39px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 42px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-5 .u-text-1 {
  font-family: "Major Mono Display";
  font-size: 3.75rem;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-5 .u-image-1 {
  width: 425px;
  height: 300px;
  margin: 43px auto 0 101px;
}

.u-section-5 .u-image-2 {
  width: 400px;
  height: 300px;
  margin: -300px 126px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 570px;
  height: 230px;
  margin: 43px auto 0;
}

.u-section-5 .u-image-4 {
  width: 196px;
  height: 196px;
  margin: -213px auto 0 68px;
}

.u-section-5 .u-image-5 {
  width: 196px;
  height: 196px;
  margin: -196px 68px 60px auto;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 3.333333333333333rem;
  }

  .u-section-5 .u-image-3 {
    width: 540px;
    height: 218px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -201px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 340px;
    height: 240px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 255px;
    margin-top: -240px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 137px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -120px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 896px;
}

.u-section-6 .u-text-1 {
  font-family: "Major Mono Display";
  font-size: 3.75rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 55px auto 0;
}

.u-section-6 .u-image-1 {
  width: 457px;
  height: 300px;
  margin: 32px auto 0 94px;
}

.u-section-6 .u-image-2 {
  width: 380px;
  height: 300px;
  margin: -300px 94px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 227px;
  height: 300px;
  margin: 27px 135px 0 auto;
}

.u-section-6 .u-image-4 {
  width: 248px;
  height: 300px;
  margin: -300px auto 0;
}

.u-section-6 .u-image-5 {
  width: 225px;
  height: 300px;
  margin: -300px auto 60px 115px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 3.333333333333333rem;
  }

  .u-section-6 .u-image-1 {
    margin-left: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 223px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 268px;
    margin-top: -223px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    margin-right: 113px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 790px;
}

.u-section-7 .u-image-1 {
  width: 1120px;
  height: 631px;
  --radius: 10px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 530px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    width: 720px;
    height: 406px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    width: 540px;
    height: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 340px;
    height: 192px;
  }
}